



.no-data{
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-image{
    width: 100%;
    height: 50%;
}
 
.header{
    margin-top: 2%;
}

.title button:hover{
    background-color: black;
    color: white;
}

