

.stores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.no-data{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:670px) {
    .stores{
        flex-direction: column;
    }
   
    .p{
        font-size: 100%;
    }
}
.store-image{
    width: 100%;
    height: 50%;
}
 
.header{
    margin-top: 2%;
}

.title button:hover{
    background-color: black;
    color: white;
}

