<div class="card-info">
    <div class="login-info">
      <h1>SUPPLY SPACE</h1>
      <form >
        <input
          class="simple-text-field"
          matInput
          [formControl]="email"
          type="email"
          placeholder="Enter Email"
        />
      </form>
    </div>
    <button
      class="submit"
 (click)='sendResetPasswordLink()'
      mat-raised-button
      color="primary"

    >
     Submit
    </button>

    <p *ngIf='hideSuccessMessage'>We have mailed you the link to Reset Password</p>
  </div>