<ng-container *ngIf='!otpBlock'>
  <div class="login-info">
    <form [formGroup]="signUpForm">
      <input
        class="simple-text-field"
        matInput
        formControlName="name"
        type="text"
        placeholder="Enter Name"
      />
      <ngx-intl-tel-input
            [cssClass]="'simple-text-field'"
            formControlName=mobile
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [selectedCountryISO]="CountryISO.India"
            [phoneValidation]="true"

            [numberFormat]="PhoneNumberFormat.National"

          >
          </ngx-intl-tel-input>
      <input
        class="simple-text-field"
        matInput
        formControlName="email"
        type="email"
        placeholder="Enter Email"
      />
    </form>
    <div class="">
        <div id="recaptcha-container"></div>
    </div>
    <button
      class="submit"
      mat-raised-button
      color="primary"
      [disabled]="!signUpForm.valid || disableSignUpButton"
      (click)="signUp()"
    >
      Sign Up
    </button>
  </div>

</ng-container>

<ng-container *ngIf='otpBlock'>
  <supply-space-otp-block (emitOtp)='verifyOtp($event)' ></supply-space-otp-block>
</ng-container>

