<div class="stores-box">
  <h1>Enter your Store Details</h1>
  <ng-container *ngIf="storeDetails | async; let stores">
    <supply-space-create-store-form
      [storeInfo]="stores"
    ></supply-space-create-store-form>
  </ng-container>
  <div class="product-table">
    <div class="title">
      <h2>Products</h2>
      <button mat-mini-fab (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <h4 *ngIf="">*Fill your Store Details to add Products</h4>
    <ng-container *ngIf="products?.length > 0">
      <supply-space-product-list
        [products]="products"
      ></supply-space-product-list>
    </ng-container>
  </div>
</div>
