


.simple-text-field{
    background-color: rgb(247, 247, 247);
    margin-bottom: 2%;
}

.submit{
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 4%;
    height: 20%;
}

.forgot-password{
    margin-top: 4%;
}

button{
    background-color: black;
    color: white;
}

button:disabled{
    background-color: grey;
    color: rgb(255, 255, 255);
}