<div class="card-info">
  <div class="login-info">
    <h1>SUPPLY SPACE</h1>
    <form [formGroup]="loginForm">
      <input
        class="simple-text-field"
        matInput
        formControlName="email"
        type="email"
        placeholder="Enter Username"
      />

      <input
        class="simple-text-field"
        matInput
        formControlName="password"
        type="password"
        placeholder="Enter Password"
      />
      
    </form>
  </div>
  <button
    class="submit"
    (click)="login()"
    mat-raised-button
    color="primary"
    [disabled]="!loginForm.valid"
    routerLink=""
  >
    Login
  </button>
  <button
    class="forgot-password"
    mat-raised-button
    color="primary"
    routerLink="forgot-password"
  >
   Forgot Password
  </button>
</div>
