.detail-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.store-detail{
    margin-left: 5%;
}

.products-section{
    margin-left:5%;
    margin-right: 2%;
}

.product-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-row p {
    width: 20%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:670px){
    .prod-desc{
            white-space: nowrap;
            overflow: scroll;
    }
}